Repository Twinsteak/lockerweb, pull requests merged in 2022-08, with the labels that each got.

#4 엔드포인트 변경, OpenAPI 백엔드 명세 추가
  .github/workflows/openapi-gen.yml
  packages/server/api.yaml
  packages/server/template.yaml
Labels: documentation, server, breaking

#6 README 수정
  README.md
Labels: documentation

#7 `/locker/list` -> `/locker/query`
  packages/server/api.yaml
Labels: documentation, refactoring, server, breaking

#8 `/user/query` 엔드포인트 도큐먼트에 누락된 인증 추가
  packages/server/api.yaml
Labels: bug, documentation, server

#1 데이터베이스 구조 변경
  packages/server/db-table-cli.json
  packages/server/template.yaml
Labels: refactoring, server, breaking

#2 데이터 타입 추가
  package.json
  packages/server/package.json
  packages/server/pnpm-lock.yaml
  packages/types/.eslintrc
  packages/types/.prettierrc
  packages/types/index.d.ts
  packages/types/package.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, server

#9 백엔드 서버 구조 변경
  package.json
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/logout.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/common.ts
  packages/server/src/config/data.ts
  packages/server/src/config/handler/get.ts
  packages/server/src/config/handler/update.ts
  packages/server/src/db_client.ts
  packages/server/src/handler.ts
  packages/server/src/locker.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/count.ts
  packages/server/src/locker/handler/query.ts
  packages/server/src/user.ts
  packages/server/src/user/data.ts
  packages/server/src/user/handler/batch/delete.ts
  packages/server/src/user/handler/batch/put.ts
  packages/server/src/user/handler/delete.ts
  packages/server/src/user/handler/get.ts
  packages/server/src/user/handler/query.ts
  packages/server/src/user/handler/update.ts
  packages/server/template.yaml
  packages/server/tests/unit/test-handler.js
Labels: refactoring, server, breaking

#3 클라이언트 정리
  packages/client/.eslintignore
  packages/client/.eslintrc.cjs
  packages/client/.gitignore
  packages/client/.prettierignore
  packages/client/README.md
  packages/client/package.json
  packages/client/postcss.config.cjs
  packages/client/src/app.css
  packages/client/src/app.d.ts
  packages/client/src/app.html
  packages/client/src/app.scss
  packages/client/src/components/auth/AuthCard.svelte
  packages/client/src/components/auth/AuthLayout.svelte
  packages/client/src/components/auth/LockerStatus.svelte
  packages/client/src/components/reserve/LockerFloors.svelte
  packages/client/src/components/reserve/LockerTabContent.svelte
  packages/client/src/components/reserve/LockerTabHeader.svelte
  packages/client/src/global.d.ts
  packages/client/src/lib/utils.ts
  packages/client/src/lib/variables.ts
  packages/client/src/routes/__layout.svelte
  packages/client/src/routes/callback.svelte
  packages/client/src/routes/index.svelte
  packages/client/src/routes/logout.svelte
  packages/client/src/routes/reserve/index.svelte
  packages/client/src/variables.scss
  packages/client/static/soongsil_logo.jpg
  packages/client/svelte.config.js
  packages/client/tailwind.config.cjs
  packages/client/tsconfig.json
  packages/client/vite.config.js
  pnpm-lock.yaml
Labels: breaking, client

#12 Building, LockerSection 의 구조가 잘못된 문제 수정
  packages/server/api.yaml
  packages/types/index.d.ts
Labels: bug, server, breaking

#15 DynamoDB에서 `aT` 예약어로 인해 DB 쿼리가 불가능한 문제 수정
  packages/server/src/auth/data.ts
  packages/server/src/config/data.ts
  packages/server/src/locker/data.ts
Labels: bug, server

#16 `/config` 엔드포인트에 인증이 걸려있다고 표시되는 문제 해결
  packages/server/api.yaml
Labels: bug, documentation, server

#21 config 데이터를 적용 가능하도록 변경
  config.json
  lockers.json
  packages/client/package.json
  packages/server/package.json
  packages/server/src/config/data.ts
Labels: bug, documentation, enhancement, server

#22 잘못된 설정 데이터 수정
  config.json
Labels: bug, server

#23 `/locker/unclaim` 엔드포인트 추가
  packages/server/api.yaml
  packages/server/src/auth/data.ts
  packages/server/src/handler.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/template.yaml
Labels: bug, documentation, enhancement, server

#24 서비스 혹은 학부의 로그인 불가 시간으로 설정된 경우 로그인 거부
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/ssu_login.ts
Labels: enhancement, server

#26 모든 응답이 올바른 오류를 표시하도록 수정
  packages/server/src/auth/handler/logout.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/config/handler/get.ts
  packages/server/src/config/handler/update.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/src/user/data.ts
  packages/server/src/user/handler/batch/delete.ts
  packages/server/src/user/handler/batch/put.ts
  packages/server/src/user/handler/delete.ts
  packages/server/src/user/handler/get.ts
  packages/server/src/user/handler/query.ts
  packages/server/src/user/handler/update.ts
  packages/server/src/util/error.ts
  packages/types/index.d.ts
Labels: bug, server

#27 `/locker/count` 에 층별 데이터 추가
  packages/server/api.yaml
  packages/server/src/locker/handler/count.ts
  packages/types/index.d.ts
Labels: enhancement, server, breaking

#28 접속을 제한하는 학부가 없는 경우 로그인이 불가능한 문제 수정
  packages/server/src/auth/data.ts
Labels: bug, server

#29 ADMIN_ID 환경변수가 작동하지 않는 문제 수정+
  packages/server/.gitignore
  packages/server/template.yaml
Labels: bug, server

#30 학부별 설정 데이터 추가
  config.json
Labels: documentation, server

#31 `Tab` 컴포넌트를 인라인으로 변경
  packages/client/src/components/atom/Tag.svelte
Labels: enhancement, client

#32 로그인 로직 구현, 로그인 페이지에서의 데이터 표시
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/src/app.css
  packages/client/src/components/atom/Button.svelte
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/DepartmentSelectionGroup.svelte
  packages/client/src/components/atom/FloorStatus.svelte
  packages/client/src/components/atom/Tag.svelte
  packages/client/src/components/molecule/DepartmentLockerStatus.svelte
  packages/client/src/components/molecule/Entry.svelte
  packages/client/src/components/molecule/LockerStatus.svelte
  packages/client/src/css/normalize.css
  packages/client/src/icons/ArrowClockwise.svelte
  packages/client/src/icons/ChevronDown.svelte
  packages/client/src/icons/Soongsil.svelte
  packages/client/src/lib/auth.ts
  packages/client/src/lib/store.ts
  packages/client/src/lib/types.ts
  packages/client/src/lib/utils.ts
  packages/client/src/lib/variables.ts
  packages/client/src/routes/admin.svelte
  packages/client/src/routes/callback.svelte
  packages/client/src/routes/index.svelte
  packages/client/src/routes/reserve.svelte
  packages/client/tailwind.config.cjs
  packages/client/tsconfig.json
  packages/types/index.d.ts
  pnpm-lock.yaml
Labels: enhancement, client

#33 전체 store 들을 새로고침 가능하도록 변경
  packages/client/src/lib/store.ts
Labels: enhancement, client

#34 백엔드 오류 시 실제로는 `errorDescription`이 아닌 `error_descirption`을 반환하는 문제 수정
  packages/server/src/auth/handler/logout.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/config/handler/update.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/query.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/src/user/handler/batch/delete.ts
  packages/server/src/user/handler/batch/put.ts
  packages/server/src/user/handler/delete.ts
  packages/server/src/user/handler/update.ts
  packages/server/src/util/error.ts
Labels: bug, server

#36 Profile 컴포넌트 추가
  packages/client/src/components/molecule/Profile.svelte
Labels: enhancement, client

#35 SelectionListItem 추가
  packages/client/src/components/atom/SelectionListItem.svelte
  packages/client/src/components/atom/SelectionListItemGroup.svelte
Labels: enhancement, client

#37 getDepartmentById 함수 추가
  packages/client/src/lib/utils.ts
Labels: bug, enhancement, client

#38 `/config/delete` 엔드포인트 추가
  packages/server/api.yaml
  packages/server/src/config/data.ts
  packages/server/src/config/handler/delete.ts
  packages/server/src/handler.ts
  packages/server/template.yaml
Labels: documentation, enhancement, server

#39 `/.../update` 호출 시 선택 인덱스를 삭제할 수 있도록 함
  packages/server/src/config/data.ts
  packages/server/src/user/data.ts
  packages/types/index.d.ts
Labels: enhancement, server

#40 서비스 혹은 학부가 비활성화 되어 있을 경우 대여/반납이 불가능하도록 검증
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/unclaim.ts
Labels: enhancement, server

#43 아이콘 추가
  packages/client/src/icons/Add.svelte
  packages/client/src/icons/AddSquare.svelte
  packages/client/src/icons/ArrowExportLtr.svelte
  packages/client/src/icons/ArrowUndo.svelte
  packages/client/src/icons/ContentSettings.svelte
  packages/client/src/icons/Delete.svelte
  packages/client/src/icons/Heart.svelte
  packages/client/src/icons/MailInbox.svelte
  packages/client/src/icons/PeopleSettings.svelte
  packages/client/src/icons/SaveEdit.svelte
  packages/client/src/icons/SelectObject.svelte
  packages/client/src/icons/Settings.svelte
  packages/client/src/icons/Subtract.svelte
  packages/client/src/icons/brands/GitHub.svelte
  packages/client/src/icons/brands/Svelte.svelte
  packages/client/src/icons/brands/TailwindCss.svelte
Labels: enhancement, client

#44 SelectionListItem 개선
  packages/client/src/components/atom/SelectionListItem.svelte
Labels: enhancement, client

#42 Button 개선
  packages/client/src/components/atom/Button.svelte
Labels: bug, enhancement, breaking, client

#41 비활성화된 사물함에 대한 대여 불가 처리
  packages/server/src/config/data.ts
  packages/server/src/util/locker.ts
  packages/types/index.d.ts
Labels: enhancement, server

#48 열람 가능한 관리자 페이지
  packages/client/package.json
  packages/client/src/app.css
  packages/client/src/components/atom/Pagination.svelte
  packages/client/src/components/atom/SelectScreen.svelte
  packages/client/src/components/atom/TabGroup.svelte
  packages/client/src/components/atom/TabItem.svelte
  packages/client/src/components/atom/form/Checkbox.svelte
  packages/client/src/components/atom/form/DateTimeInput.svelte
  packages/client/src/components/atom/form/NumberInput.svelte
  packages/client/src/components/atom/form/Select.svelte
  packages/client/src/components/atom/form/TextInput.svelte
  packages/client/src/components/molecule/DepthExplorer.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigEditor.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
  packages/client/src/components/molecule/admin/department/DepartmentSettings.svelte
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
  packages/client/src/components/molecule/admin/service/BuildingSettings.svelte
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/service/SubsectionSettings.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/icons/CaretLeft.svelte
  packages/client/src/icons/CaretRight.svelte
  packages/client/src/icons/DocumentTable.svelte
  packages/client/src/icons/Edit.svelte
  packages/client/src/icons/Search.svelte
  packages/client/src/lib/types.ts
  packages/client/src/routes/admin.svelte
  packages/client/tailwind.config.cjs
  packages/client/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, client

#49 버튼 컴포넌트가 이벤트를 전달하도록 함
  packages/client/src/components/atom/Button.svelte
Labels: enhancement, client

#50 `getDepartmentNameById` 함수에서 `configs` 가 `undefined` 일 때 `undefined` 를 반환하도록 함
  packages/client/src/lib/utils.ts
Labels: bug, client

#51 `Refreshable` store 가 새로고침 중일 때 `undefined` 를 반환하도록 함
  packages/client/src/lib/store.ts
Labels: enhancement, client

#53 `LockerSection` 의 `disabled` 값이 비어있다면 DB에 저장하지 않도록 수정
  packages/server/src/config/data.ts
Labels: bug, server

#54 `/user/query` 시 불필요한 로그 제거
  packages/server/src/user/handler/query.ts
Labels: enhancement, server

#56 예약 페이지 퍼블리싱, 모달 추가
  packages/client/src/components/atom/Button.svelte
  packages/client/src/components/atom/DepartmentSelectionGroup.svelte
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/login/DepartmentLockerStatus.svelte
  packages/client/src/components/molecule/login/Entry.svelte
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
  packages/client/src/icons/Dismiss.svelte
  packages/client/src/icons/Logout.svelte
  packages/client/src/routes/callback.svelte
  packages/client/src/routes/index.svelte
  packages/client/src/routes/reserve.svelte
  packages/client/static/floorMaps/1F.svg
  packages/client/static/floorMaps/2F.svg
  packages/client/static/floorMaps/3F.svg
  packages/client/static/floorMaps/4F.svg
  packages/client/static/floorMaps/5F.svg
  packages/client/static/floorMaps/6F.svg
  packages/client/static/floorMaps/B1.svg
Labels: enhancement, client

#55 서비스 설정 화면 구현
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
  packages/client/src/components/molecule/admin/service/BuildingSettings.svelte
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/service/SubsectionSettings.svelte
  packages/client/src/icons/Checkmark.svelte
  packages/client/src/icons/Warning.svelte
  packages/client/src/lib/types.ts
  packages/client/tsconfig.json
Labels: enhancement, client

#57 사용자 설정 로딩/오류 화면 표시
  packages/client/src/components/atom/ErrorScreen.svelte
  packages/client/src/components/atom/LoadingScreen.svelte
  packages/client/src/components/atom/Pagination.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/icons/ErrorCircle.svelte
  packages/client/src/routes/admin.svelte
Labels: enhancement, client

#58 Sveltekit 마이그레이션
  packages/client/package.json
  packages/client/src/routes/+layout.svelte
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/reserve/+page.svelte
  pnpm-lock.yaml
Labels: refactoring, breaking, client

#64 Modal 기능 구현 및 디자인 수정
  packages/client/src/app.css
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/routes/test/+page.svelte
Labels: enhancement, client

#66 사용자 설정의 페이지 및 선택 기능 레이아웃 구현
  packages/client/src/components/atom/Pagination.svelte
  packages/client/src/components/atom/form/Checkbox.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/icons/BookmarkOff.svelte
Labels: enhancement, client

#67 사물함 그리드를 반응형이 적용된 `y-scroll`이 가능하도록 리팩토링, 사물함 아이템 디자인 변경
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, design

#68 Modal 내부 버튼에 아이콘 추가 및 아이콘 관련 프로퍼티를 넣을 수 있도록 수정
  packages/client/src/components/molecule/Modal.svelte
Labels: enhancement, client

#69 Modal 아이콘 추가 시 컴파일 오류 수정
  packages/client/src/components/molecule/Modal.svelte
Labels: bug, client

#70 잘못된 `claimedUntil` 타입과 잘못 표시된 `lockerId` 포맷 수정
  packages/server/api.yaml
  packages/server/src/user/data.ts
  packages/types/index.d.ts
Labels: bug, documentation, server, breaking

#71 `Skeleton` 페이지 컴포넌트 생성
  packages/client/src/components/atom/Skeleton.svelte
Labels: enhancement, client, design

#72 window 객체가 다른 click 이 발생했을 때에도 dialog 가 닫히는 문제 수정
  packages/client/src/components/molecule/Modal.svelte
Labels: bug, client

#73 Select 의 required 라벨 별표가 빨간색이 아닌 문제 수정
  packages/client/src/components/atom/form/Select.svelte
Labels: bug, client, design

#74 사용자 설정 기본 CRUD 구현, `import` / `export` 를 위한 모달 구현
  packages/client/package.json
  packages/client/src/components/atom/form/FileInput.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/admin/user/UserEditModal.svelte
  packages/client/src/components/molecule/admin/user/UserExportModal.svelte
  packages/client/src/components/molecule/admin/user/UserImportModal.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/icons/DocumentArrowLeft.svelte
  packages/client/src/icons/DocumentHeaderRemove.svelte
  packages/client/src/icons/PeopleTeamAdd.svelte
  packages/client/src/icons/PeopleTeamDelete.svelte
  packages/client/src/routes/admin/+page.svelte
  pnpm-lock.yaml
Labels: enhancement, client

#75 구역간 전환 시 해당 구역의 데이터가 폼에 반영되지 않는 문제 수정
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/service/SubsectionSettings.svelte
Labels: bug, client

#76 학부별 설정의 날짜 값이 없을 경우 `null` 로 초기화하게 변경
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
Labels: bug, client

#89 모달 버튼을 `disabled` 할 수 있도록 prop 추가
  packages/client/src/components/molecule/Modal.svelte
Labels: enhancement, client

#78 사물함 그리드를 페이지에 맞게 y축 cetner설정, 잘못된 태그 수정, 스타일링
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
Labels: enhancement, client, design

#92 스켈레톤 배경색을 지정할 수 있도록 리팩토링
  packages/client/src/components/atom/Skeleton.svelte
Labels: enhancement, client

#79 사용자 가져오기 기능
  packages/client/src/components/atom/form/FileInput.svelte
  packages/client/src/components/molecule/admin/user/UserImportModal.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/icons/Document.svelte
Labels: enhancement, client

#91 사용자 설정 페이지 검색 기능과 페이지네이션 수정
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
Labels: enhancement, client

#77 사용자 정보 내보내기
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
Labels: enhancement, client

#93 사용자가 관리자가 아닐 경우 오류 발생
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
  packages/client/src/lib/auth.ts
  packages/client/src/routes/admin/+page.svelte
Labels: bug, enhancement, client

#112 프로필: 사용자의 학부가 존재하지 않을 때 `알 수 없음` 표시
  packages/client/src/components/molecule/Profile.svelte
Labels: enhancement, client, design

#117 학부 연락처 스켈레톤 추가
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, design, reserve

#118 `LockerRerserveInfo` 이름 수정
  packages/client/src/routes/reserve/+page.svelte
Labels: client, reserve

#123 Button 스타일 인라인화 및 disabled 상태에서 `opacity-50` 적용
  packages/client/src/components/atom/Button.svelte
Labels: enhancement, refactoring, client

#124 `관리자` 페이지 - 사용자 설정에서 버튼 텍스트 축약
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
Labels: client, design, admin

#125 편리한 페이지 제목 설정을 위한 `PageTitle` 컴포넌트
  packages/client/src/components/atom/PageTitle.svelte
Labels: enhancement, client

#128 README 및 라이센스 추가
  LICENSE
  README.md
Labels: documentation

#129 배포 설정을 위한 `dryrun` 스크립트 추가
  packages/server/package.json
Labels: enhancement, devops

#130 존재하지 않는 사용자가 로그인 할 수 있는 오류 수정
  packages/server/src/auth/data.ts
  packages/server/template.yaml
Labels: bug, server, auth

#131 태그 - 클릭 가능하도록 수정
  packages/client/src/components/atom/Tag.svelte
Labels: enhancement, client

#132 관리 페이지 - 비활성화된 사물함을 클릭하여 목록에서 제거할 수 있도록 수정
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
Labels: bug, enhancement, admin

#133 static 페이지 배포를 위해 `adapter-static` 적용
  packages/client/package.json
  packages/client/svelte.config.js
  pnpm-lock.yaml
Labels: enhancement, client

#122 Collapse 할 수 있는 Navigation 영역
  packages/client/src/components/atom/Divider.svelte
  packages/client/src/components/atom/NavigationCollapseButton.svelte
  packages/client/src/components/atom/NavigationContent.svelte
  packages/client/src/components/atom/NavigationFooter.svelte
  packages/client/src/components/atom/NavigationHeader.svelte
  packages/client/src/components/atom/NavigationProfile.svelte
  packages/client/src/components/molecule/Navigation.svelte
Labels: enhancement, refactoring, client, design

#135 UI 레이아웃 구성 통합을 위한 `Shell` 및 `NavigationShell`
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/components/molecule/Shell.svelte
Labels: enhancement, refactoring, client, design

#138 `index` 페이지: `LockerStatus` 에 타입에 맞지 않는 값 수정
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/src/lib/types.ts
  packages/client/src/routes/+page.svelte
Labels: refactoring, breaking, client, index

#137 `LockerLoadingScreen` - 잘못된 import 삭제
  packages/client/src/components/atom/LockerLoadingScreen.svelte
Labels: client, reserve

#141 예약 페이지 `NavigationShell` 컴포넌트 적용
  packages/client/src/routes/reserve/+page.svelte
Labels: refactoring, client, reserve

#142 `index`, `callback`, `test`, `admin` - `Shell` 및 `PageTitle` 적용
  packages/client/src/components/molecule/login/Entry.svelte
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/test/+page.svelte
Labels: enhancement, client, admin, auth, index

#144 예약 페이지 타이틀 추가
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, reserve

#143 `logout` 페이지 구현
  packages/client/src/routes/logout/+page.svelte
Labels: enhancement, client, auth

#145 `Modal` 오류 수정 및 버튼 클래스 프로퍼티 추가
  packages/client/src/components/molecule/Modal.svelte
Labels: bug, enhancement, client

#146 `NavigationShell` 이 작은 화면에서 메인 콘텐츠 영역을 덮는 문제 수정
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/components/molecule/Shell.svelte
Labels: bug, client

#148 `도움이 필요하신가요?` 연락처 모달 연결
  packages/client/src/routes/+page.svelte
Labels: enhancement, client, index

#150 접속 가능 시간 초과 시 로그아웃 팝업 표시
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/routes/logout/+page.svelte
Labels: enhancement, client

#151 접속 불가능한 학부의 로그인 불가 처리가 올바르게 되지 않는 문제
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/src/user/data.ts
Labels: bug, server, auth
