Repository Twinsteak/lockerweb, pull requests merged in 2022-09, with the labels that each got.

#154 BREAKING CHANGE: 백엔드 오류 처리 개선
  packages/server/api.yaml
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/logout.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/common.ts
  packages/server/src/config/data.ts
  packages/server/src/config/handler/delete.ts
  packages/server/src/config/handler/get.ts
  packages/server/src/config/handler/update.ts
  packages/server/src/env.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/count.ts
  packages/server/src/locker/handler/query.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/src/user/data.ts
  packages/server/src/user/handler/batch/delete.ts
  packages/server/src/user/handler/batch/put.ts
  packages/server/src/user/handler/delete.ts
  packages/server/src/user/handler/get.ts
  packages/server/src/user/handler/query.ts
  packages/server/src/user/handler/update.ts
  packages/server/src/util/access.ts
  packages/server/src/util/database.ts
  packages/server/src/util/error.ts
  packages/server/template.yaml
  packages/types/index.d.ts
Labels: server, breaking

#155 일부 링크에 그림자가 사라지지 않는 문제 수정
  packages/client/src/components/molecule/Credit.svelte
  packages/client/src/routes/+page.svelte
Labels: bug, client, index

#156 예약 현황에 기한이 주어질 시 기한이 레이아웃을 넘어가는 현상 수정
  packages/client/src/components/atom/DepartmentSelection.svelte
Labels: bug, client, index

#158 OpenAPI 문서 오류 수정
  packages/server/api.yaml
Labels: bug, documentation

#157 `DepartmentSelection` 에서 시간을 `00:00` 형식으로 표시되도록 수정
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/tsconfig.json
Labels: bug, enhancement, client, design, index

#159 BREAKING: `zod`를 활용한 Schema Validation, store 오류 핸들링
  packages/client/package.json
  packages/client/src/components/atom/PageTitle.svelte
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/components/molecule/Profile.svelte
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
  packages/client/src/components/molecule/admin/department/DepartmentSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/service/SubsectionSettings.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/admin/user/UserEditModal.svelte
  packages/client/src/components/molecule/admin/user/UserExportModal.svelte
  packages/client/src/components/molecule/admin/user/UserImportModal.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/lib/api/api.ts
  packages/client/src/lib/api/auth.ts
  packages/client/src/lib/api/config.ts
  packages/client/src/lib/api/locker.ts
  packages/client/src/lib/api/schema.ts
  packages/client/src/lib/api/user.ts
  packages/client/src/lib/store.ts
  packages/client/src/lib/types.ts
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
  packages/server/api.yaml
  packages/server/src/auth/handler/logout.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/config/data.ts
  packages/server/src/config/handler/delete.ts
  packages/server/src/config/handler/get.ts
  packages/server/src/config/handler/update.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/count.ts
  packages/server/src/locker/handler/query.ts
  packages/server/src/locker/handler/unclaim.ts
  packages/server/src/user/data.ts
  packages/server/src/user/handler/batch/delete.ts
  packages/server/src/user/handler/batch/put.ts
  packages/server/src/user/handler/delete.ts
  packages/server/src/user/handler/get.ts
  packages/server/src/user/handler/query.ts
  packages/server/src/user/handler/update.ts
  packages/server/template.yaml
  packages/types/index.d.ts
  pnpm-lock.yaml
Labels: bug, documentation, enhancement, refactoring, server, breaking, client, admin, auth, index

#163 `LockerStatus` 에 스켈레톤 적용
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/DepartmentSelectionGroup.svelte
  packages/client/src/components/molecule/login/DepartmentLockerStatus.svelte
  packages/client/src/components/molecule/login/LockerStatus.svelte
Labels: enhancement, client, design

#160 일부 prop 이 잘못 설정된 문제 수정
  packages/client/src/components/atom/Divider.svelte
  packages/client/src/components/atom/ErrorScreen.svelte
  packages/client/src/components/atom/LoadingScreen.svelte
  packages/client/src/components/atom/LockerLoadingScreen.svelte
  packages/client/src/components/atom/NavigationContent.svelte
  packages/client/src/components/atom/NavigationFooter.svelte
  packages/client/src/components/atom/NavigationHeader.svelte
  packages/client/src/components/atom/SelectScreen.svelte
  packages/client/src/components/atom/UpdateScreen.svelte
  packages/client/src/components/molecule/DepthExplorer.svelte
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/routes/admin/+page.svelte
Labels: bug, client

#165 `/locker/count` 가 건물 번호도 포함하도록 수정
  packages/server/api.yaml
  packages/server/src/locker/handler/count.ts
  packages/types/index.d.ts
Labels: documentation, enhancement, refactoring, server, breaking

#164 빌드 시 발생하는 경고 사항 수정
  packages/client/src/components/atom/Button.svelte
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/SelectionListItem.svelte
  packages/client/src/components/atom/TabItem.svelte
  packages/client/src/components/atom/form/NumberInput.svelte
  packages/client/src/components/atom/form/Select.svelte
  packages/client/src/components/molecule/DepthExplorer.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/user/UserEditModal.svelte
  packages/client/src/components/molecule/admin/user/UserExportModal.svelte
  packages/client/src/icons/Add.svelte
  packages/client/src/icons/AddSquare.svelte
  packages/client/src/icons/ArrowClockwise.svelte
  packages/client/src/icons/ArrowExportLtr.svelte
  packages/client/src/icons/ArrowUndo.svelte
  packages/client/src/icons/ArrowUpload.svelte
  packages/client/src/icons/BookmarkOff.svelte
  packages/client/src/icons/CaretLeft.svelte
  packages/client/src/icons/CaretRight.svelte
  packages/client/src/icons/Checkmark.svelte
  packages/client/src/icons/ChevronDown.svelte
  packages/client/src/icons/ContentSettings.svelte
  packages/client/src/icons/Delete.svelte
  packages/client/src/icons/Dismiss.svelte
  packages/client/src/icons/Document.svelte
  packages/client/src/icons/DocumentArrowLeft.svelte
  packages/client/src/icons/DocumentHeaderRemove.svelte
  packages/client/src/icons/DocumentTable.svelte
  packages/client/src/icons/Edit.svelte
  packages/client/src/icons/ErrorCircle.svelte
  packages/client/src/icons/Heart.svelte
  packages/client/src/icons/Locker.svelte
  packages/client/src/icons/Logout.svelte
  packages/client/src/icons/MailInbox.svelte
  packages/client/src/icons/PeopleSettings.svelte
  packages/client/src/icons/PeopleTeamAdd.svelte
  packages/client/src/icons/PeopleTeamDelete.svelte
  packages/client/src/icons/SaveEdit.svelte
  packages/client/src/icons/Search.svelte
  packages/client/src/icons/SelectObject.svelte
  packages/client/src/icons/Settings.svelte
  packages/client/src/icons/Soongsil.svelte
  packages/client/src/icons/Subtract.svelte
  packages/client/src/icons/Warning.svelte
  packages/client/src/icons/brands/AmazonAPIGateway.svelte
  packages/client/src/icons/brands/AmazonDynamoDB.svelte
  packages/client/src/icons/brands/AmazonS3.svelte
  packages/client/src/icons/brands/AwsLambda.svelte
  packages/client/src/icons/brands/GitHub.svelte
  packages/client/src/icons/brands/Svelte.svelte
  packages/client/src/icons/brands/TailwindCss.svelte
  packages/client/src/icons/creator/Eatsteak.svelte
  packages/client/src/icons/creator/Twince.svelte
  packages/client/src/lib/store.ts
Labels: enhancement, refactoring, client

#166 `concurrently` 설치로 로그 가독성 향상
  package.json
  packages/server/package.json
  pnpm-lock.yaml
Labels: enhancement

#167 `LockerStatus` 표시 수정 및 시간 오류 수정
  packages/client/src/components/atom/Button.svelte
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/ErrorScreen.svelte
  packages/client/src/components/atom/FloorStatus.svelte
  packages/client/src/components/atom/PageTitle.svelte
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/components/molecule/login/DepartmentLockerStatus.svelte
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/src/icons/QuestionCircle.svelte
  packages/client/src/lib/types.ts
  packages/client/src/lib/utils.ts
  packages/client/src/routes/+page.svelte
Labels: bug, enhancement, client, index

#168 `LocalStorage` 에 캐싱된 설정 또한 `zod` 를 통해 검증하도록 수정
  packages/client/src/lib/api/config.ts
  packages/client/src/lib/store.ts
Labels: bug, enhancement, client

#170 `logout` 시 요청과 동시에 캐시 삭제
  packages/client/src/routes/logout/+page.svelte
Labels: enhancement, client, auth

#169 서버에서 오류를 인식하지 못해 무조건 `500`을 응답하는 오류 수정
  packages/server/src/util/error.ts
Labels: bug, server

#171 `callback` 로그인 오류 핸들링 + `goto()`
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
Labels: enhancement, refactoring, client, auth

#174 `DepartmentSelection` 의 margin 값 수정
  packages/client/src/components/atom/DepartmentSelection.svelte
Labels: client, design, index

#175 예약 페이지 데이터 표기 / 리팩토링
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/LockerItemGroup.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: refactoring, client, reserve

#176 로그인 성공 시 버튼의 아이콘이 돌아가는 문제 수정
  packages/client/src/routes/callback/+page.svelte
Labels: bug, client, auth

#177 모바일 화면에서의 `Navigation` 레이아웃 조정
  packages/client/src/components/molecule/Navigation.svelte
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/components/molecule/Shell.svelte
Labels: client, design

#178 `reserve` 페이지 - 레이아웃 개선
  packages/client/src/components/molecule/reserve/LockerItemGroup.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, design, reserve

#179 `reserve` 페이지 - 관리 페이지로 이동 버튼 추가
  packages/client/src/routes/reserve/+page.svelte
Labels: client, reserve

#186 사용자 세션 검증 후 올바르지 않을 경우 메인 페이지로 이동
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, auth

#188 `reserve` - `targetDepartmentId` 값이 설정되지 않는 문제 수정
  packages/client/src/routes/reserve/+page.svelte
Labels: bug, client, reserve

#187 `admin` - 설정을 깊은 복사하여 설정 변경 사항을 추적할 수 있도록 수정
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
Labels: bug, client, admin

#189 `selectedLocker` 컴포넌트 추가
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/icons/Bookmark.svelte
  packages/client/src/routes/test/+page.svelte
Labels: enhancement, client, design, reserve

#190 `locker/data` - `/locker/query` 가 `claimedUntil` 이 없는 사물함을 반환하지 않는 오류 수정
  packages/server/src/locker/data.ts
Labels: bug, server

#191 예약 불가/예약된 사물함을 표시
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/LockerItemGroup.svelte
  packages/client/src/components/molecule/reserve/LockerList.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
Labels: enhancement, client, reserve

#193 설정 파일 업데이트
  config.json
Labels: client

#195 `reserve` - 예약 확인 모달 추가
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
  packages/client/src/lib/utils.ts
Labels: enhancement, client, reserve

#196 `Webkit`에서 `LockerItem` 이 제대로 렌더링되지 않는 문제 수정
  packages/client/src/components/molecule/reserve/LockerItem.svelte
Labels: bug, client, reserve

#201 AWS 배포 액션 추가(테스트 X)
  .github/workflows/aws-deploy.yml
  packages/client/package.json
Labels: devops

#197 스크롤바 이슈 수정
  packages/client/src/components/atom/DepartmentSelectionGroup.svelte
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: bug, client

#198 사물함 배치도 추가
  packages/client/src/components/atom/FloorMap.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/static/floorMaps/05/4.svg
  packages/client/static/floorMaps/05/4/A.svg
  packages/client/static/floorMaps/05/B1.svg
  packages/client/static/floorMaps/05/B1/A.svg
  packages/client/static/floorMaps/1F.svg
  packages/client/static/floorMaps/21/1.svg
  packages/client/static/floorMaps/21/1/A.svg
  packages/client/static/floorMaps/21/2.svg
  packages/client/static/floorMaps/21/2/A.svg
  packages/client/static/floorMaps/21/2/B.svg
  packages/client/static/floorMaps/21/2/C.svg
  packages/client/static/floorMaps/21/2/D.svg
  packages/client/static/floorMaps/21/2/E.svg
  packages/client/static/floorMaps/21/3.svg
  packages/client/static/floorMaps/21/3/A.svg
  packages/client/static/floorMaps/21/3/B.svg
  packages/client/static/floorMaps/21/3/C.svg
  packages/client/static/floorMaps/21/3/D.svg
  packages/client/static/floorMaps/21/3/E.svg
  packages/client/static/floorMaps/21/4.svg
  packages/client/static/floorMaps/21/4/A.svg
  packages/client/static/floorMaps/21/4/B.svg
  packages/client/static/floorMaps/21/4/C.svg
  packages/client/static/floorMaps/21/5.svg
  packages/client/static/floorMaps/21/5/E.svg
  packages/client/static/floorMaps/21/5/F.svg
  packages/client/static/floorMaps/21/5/G.svg
  packages/client/static/floorMaps/21/5/H.svg
  packages/client/static/floorMaps/21/6.svg
  packages/client/static/floorMaps/21/6/I.svg
  packages/client/static/floorMaps/21/6/J.svg
  packages/client/static/floorMaps/21/B1.svg
  packages/client/static/floorMaps/21/B1/A.svg
  packages/client/static/floorMaps/21/B1/B.svg
  packages/client/static/floorMaps/21/B1/C.svg
  packages/client/static/floorMaps/21/B1/D.svg
  packages/client/static/floorMaps/21/B1/E.svg
  packages/client/static/floorMaps/21/B1/F.svg
  packages/client/static/floorMaps/2F.svg
  packages/client/static/floorMaps/3F.svg
  packages/client/static/floorMaps/4F.svg
  packages/client/static/floorMaps/5F.svg
  packages/client/static/floorMaps/6F.svg
  packages/client/static/floorMaps/B1.svg
  packages/types/index.d.ts
Labels: enhancement, client, design

#200 `LockerList` 에 상하 마진 추가
  packages/client/src/components/molecule/reserve/LockerList.svelte
Labels: client, design

#199 사물함 예약 기능 추가
  packages/client/src/components/atom/LockerLoadingScreen.svelte
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, reserve

#203 예약한 사물함에 호버 시, 예약 취소
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: enhancement, client, reserve

#207 `LockerReserveInfo` 의 서비스 로직을 `reserve` 페이지 컴포넌트로 이동
  packages/client/src/components/atom/LockerLoadingScreen.svelte
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/lib/utils.ts
  packages/client/src/routes/reserve/+page.svelte
Labels: refactoring, client, reserve

#209 사물함을 가져올 시 `claimedUntil` 이 0을 포함한 양수인지 확인
  packages/server/src/locker/data.ts
Labels: bug, server

#208 정보과학관 지하 1층의 구역 위치가 잘못 표시되는 문제
  packages/client/static/floorMaps/21/B1/A.svg
  packages/client/static/floorMaps/21/B1/B.svg
  packages/client/static/floorMaps/21/B1/D.svg
  packages/client/static/floorMaps/21/B1/E.svg
  packages/client/static/floorMaps/21/B1/F.svg
Labels: bug, client, design, reserve

#211 예약된 사물함이 없을 시 표기 처리
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
Labels: refactoring, client, design, reserve

#210 body 가 없는 request 도 `POST` 로 보낼 수 있도록 수정(`/locker/unclaim` 수정)
  packages/client/src/lib/api/api.ts
  packages/client/src/lib/api/config.ts
  packages/client/src/lib/api/locker.ts
  packages/client/src/lib/api/user.ts
Labels: bug, client, reserve

#212 v0.9.0 pre-release
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/types/package.json
Labels: enhancement

#214 SAM 셋업 및 배포 스크립트 수정
  .github/workflows/aws-deploy.yml
  package.json
  packages/server/samconfig.toml
  packages/server/template.yaml
Labels: bug, devops

#215 배포 스크립트 명령 수정
  .github/workflows/aws-deploy.yml
  package.json
  packages/server/samconfig.toml
  packages/server/template.yaml
Labels: bug, devops

#216 배포 스크립트 적용
  .github/workflows/aws-deploy.yml
Labels: bug, devops

#217 AWS 배포 프로필 수정
  packages/server/samconfig.toml
Labels: bug, devops

#219 samconfig 재생성
  packages/server/samconfig.toml
Labels: bug, devops

#218 "AWS 프로필 수정" 적용
  packages/server/samconfig.toml
Labels: bug, devops

#220 samconfig 에서 profile 제거
  packages/server/samconfig.toml
Labels: bug, devops

#221 "samconfig 에서 profile 제거" 적용
  packages/server/samconfig.toml
Labels: bug, devops

#222 클라이언트 배포 스택 이름 수정
  packages/client/scripts/deploy.js
Labels: bug, devops

#223 "클라이언트 배포 스택 이름 수정" 적용
  packages/client/scripts/deploy.js
Labels: bug, devops

#224 S3 환경에서 callback 에 result 파라메터가 전달되지 않는 현상 수정
  packages/client/src/routes/+page.svelte
Labels: bug, client, auth

#225 "S3 환경에서 callback 에 result 파라메터가 전달되지 않는 현상 수정" 적용
  packages/client/src/routes/+page.svelte
Labels: bug, client, auth

#233 선택한 사물함 alert 크기 이슈
  packages/client/src/routes/reserve/+page.svelte
Labels: client, reserve

#230 관리자 페이지 로그 삭제
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
Labels: client, admin

#231 파일 업로드 버튼을 누르면 파일 다이알로그가 표시되도록 수정
  packages/client/src/components/atom/form/FileInput.svelte
Labels: bug, client, admin

#232 반납 시 사용자 정보가 업데이트되지 않는 문제 수정
  packages/client/src/routes/reserve/+page.svelte
Labels: bug, client, reserve

#236 화면 resize시 선택한 사물한 alert 크기가 특정 크기를 넘어가는 이슈
  packages/client/src/routes/reserve/+page.svelte
Labels: refactoring, client, reserve

#243 `index` - `LockerCount` 가 표시되지 않는 문제, 탭 간 전환이 되지 않는 문제 해결
  packages/client/src/components/molecule/login/LockerStatus.svelte
  packages/client/src/lib/api/locker.ts
  packages/client/src/routes/+page.svelte
  packages/server/src/locker/handler/count.ts
Labels: bug, server, client, index

#244 `CantUnclaim` 오류 추가
  packages/client/src/lib/api/locker.ts
  packages/client/src/lib/api/schema.ts
  packages/server/src/locker/data.ts
  packages/server/src/util/error.ts
  packages/types/index.d.ts
Labels: enhancement, server, client, reserve

#245 `reserve` 페이지에서 오류 메시지가 올바르게 표시되도록 수정
  packages/client/src/routes/reserve/+page.svelte
Labels: bug, client, reserve

#246 `FloorMap` 의 배경을 `svg` 에서 `png` 로 변경
  packages/client/src/components/atom/FloorMap.svelte
  packages/client/static/floorMaps/05/4.png
  packages/client/static/floorMaps/05/4.svg
  packages/client/static/floorMaps/05/B1.png
  packages/client/static/floorMaps/05/B1.svg
  packages/client/static/floorMaps/21/1.png
  packages/client/static/floorMaps/21/1.svg
  packages/client/static/floorMaps/21/2.png
  packages/client/static/floorMaps/21/2.svg
  packages/client/static/floorMaps/21/3.png
  packages/client/static/floorMaps/21/3.svg
  packages/client/static/floorMaps/21/4.png
  packages/client/static/floorMaps/21/4.svg
  packages/client/static/floorMaps/21/5.png
  packages/client/static/floorMaps/21/5.svg
  packages/client/static/floorMaps/21/6.png
  packages/client/static/floorMaps/21/6.svg
  packages/client/static/floorMaps/21/B1.png
  packages/client/static/floorMaps/21/B1.svg
Labels: bug, client, reserve

#247 README 수정
  README.md
Labels: bug, documentation

#248 [build] 배포 과정 간소화
  package.json
  packages/server/package.json
  packages/server/samconfig.toml
  packages/server/template.yaml
  scripts/deploy.js
Labels: enhancement, devops

#251 [fix] `Skeleton` 이 가변 크기를 가질 수 있도록 수정
  packages/client/src/components/atom/Skeleton.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
Labels: bug, enhancement, client

#252 [feat] favicon 설정
  packages/client/static/favicon.png
Labels: enhancement, client, design

#254 로그아웃 아이콘 방향 변경
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/reserve/+page.svelte
Labels: client, design, auth

#258 좁은 화면에서도 `SelectedLockerAlert` 가 정상적으로 표시되도록 수정
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
Labels: bug, refactoring, client, reserve

#255 [feat] 공지 기능 추가
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
  packages/client/src/icons/Info.svelte
  packages/client/src/lib/api/config.ts
  packages/server/src/config/data.ts
  packages/types/index.d.ts
Labels: enhancement, server, client, admin

#256 [fix] 자연스러운 스크롤을 위해 `Navigation` 이 스크롤 상단에 있을 때 `absolute` 가 되지 않도록 수정
  packages/client/src/components/molecule/Navigation.svelte
Labels: bug, client

#257 [feat] 학부별 예약 시간이 아니여도 로그인은 가능하도록 수정
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/ssu_login.ts
Labels: server, auth

#261 [fix] `FloorMap` 린팅 오류
  packages/client/src/components/atom/FloorMap.svelte
Labels: bug, client

#262 예약한 사물함에 건물과 층이 표시되도록 표기
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
Labels: enhancement, client, design, reserve

#265 [fix] 로그인 시 `:true` 값이 없어 로그인이 불가한 오류 수정
  packages/server/src/auth/data.ts
Labels: bug, server, auth

#266 [fix] 메인 화면에서 `문의 사항` 태그가 줄이 길어지면 깨지는 문제 수정
  packages/client/src/components/molecule/login/DepartmentLockerStatus.svelte
Labels: bug, client, index

#275 [fix] 사용자 접속/대여, 반납 방지가 올바르게 작동하지 않음
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/locker/data.ts
Labels: bug, server, auth, reserve

#276 [fix] 서비스 불가 표시가 표시되지 않는 문제
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/admin/+page.svelte
Labels: bug, client, admin, index

#277 [feat] 서비스 이용 불가 팝업에 대여한 사물함 표시
  packages/client/src/components/molecule/Shell.svelte
Labels: enhancement, client

#280 [fix] 최고 관리자이며 예약 시작일 혹은 예약 종료일이 설정되어 있을 경우 대여/반납이 불가능한 문제
  packages/server/src/locker/data.ts
Labels: bug, server

#286 [fix] 로그인 및 대여/반납시 예약 시간 로직 문제 수정
  packages/server/src/auth/data.ts
  packages/server/src/auth/handler/ssu_login.ts
  packages/server/src/locker/data.ts
  packages/server/src/locker/handler/claim.ts
  packages/server/src/locker/handler/unclaim.ts
Labels: bug, server, auth, reserve

#287 [fix] 관리자 페이지에서 선택 데이터가 삭제되지 않는 문제 수정
  packages/client/src/components/atom/form/DateTimeInput.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/admin/user/UserEditModal.svelte
  packages/server/src/config/data.ts
Labels: bug, server, client, admin

#288 [fix] 학부 예약 불가 시간에 예약 불가 모달이 표시되지 않음
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/Shell.svelte
Labels: bug, client

#289 [design] `Credit`의 `Made with` 를 `Powered by`로 변경, 툴팁 추가
  packages/client/src/components/molecule/Credit.svelte
Labels: client, design

#290 [fix] `LockerList` 의 margin 이 고르게 분배되도록 함
  packages/client/src/components/molecule/reserve/LockerList.svelte
Labels: client, design, reserve

#291 [fix] 모든 `학부` 를 `학과(부)` 로 변경
  packages/client/src/components/molecule/Profile.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigEditor.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigSettings.svelte
  packages/client/src/components/molecule/admin/department/DepartmentSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/admin/user/UserEditModal.svelte
  packages/client/src/components/molecule/admin/user/UserExportModal.svelte
  packages/client/src/components/molecule/admin/user/UserImportModal.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/routes/admin/+page.svelte
Labels: bug, client

#292 [refactor] 기준 breakpoint 를 `md` 에서 `lg`로 변경
  packages/client/src/components/atom/FloorStatus.svelte
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/Navigation.svelte
  packages/client/src/components/molecule/NavigationShell.svelte
  packages/client/src/components/molecule/Shell.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigEditor.svelte
  packages/client/src/components/molecule/admin/department/DepartmentSettings.svelte
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/admin/user/UserSettings.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/admin/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
  packages/client/src/routes/reserve/+page.svelte
  packages/client/src/routes/test/+page.svelte
Labels: client, design

#294 [refactor] `LockerSectionSelector`에서 층에 따른 정렬을 반대로 수정
  packages/client/src/components/molecule/reserve/LockerSectionSelector.svelte
Labels: enhancement, refactoring, client, reserve

#296 [fix] `callback`, `logout` 페이지에서의 `Entry` 중앙 정렬
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
Labels: client, design

#298 [design] `UserReservedLocker` 의 `Dismiss` 아이콘이 삐져나오지 않도록 수정
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
Labels: client, design, reserve

#301 [design] 버튼의 `:disabled`, `:hover`, `:focus`, `:active` 스타일 통일
  packages/client/src/components/atom/Button.svelte
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/NavigationCollapseButton.svelte
  packages/client/src/components/atom/Pagination.svelte
  packages/client/src/components/atom/SelectionListItem.svelte
  packages/client/src/components/atom/TabItem.svelte
  packages/client/src/components/atom/form/Checkbox.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigEditor.svelte
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/SubsectionEntry.svelte
  packages/client/src/components/molecule/admin/user/UserDatatable.svelte
  packages/client/src/components/molecule/reserve/LockerItem.svelte
Labels: client, design

#297 [feat] 로그인/로그아웃 시 오류 핸들링
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
Labels: enhancement, client, auth

#303 [fix] 가능한 `border` 를 `ring` 으로 변경
  packages/client/src/components/atom/DepartmentSelection.svelte
  packages/client/src/components/atom/FloorStatus.svelte
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/reserve/LockerItem.svelte
  packages/client/src/components/molecule/reserve/UserReservedLocker.svelte
Labels: client, design

#306 [fix] 관리자 페이지 `Navigation` 의 footer 에 `justify-between` 적용
  packages/client/src/routes/admin/+page.svelte
Labels: client, design, admin

#307 [design] 전체 공지가 항상 같은 레이아웃으로 표시되도록 수정
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/routes/+page.svelte
  packages/client/src/routes/callback/+page.svelte
  packages/client/src/routes/logout/+page.svelte
Labels: client, design

#302 [fix] `Arbitary value` 제거
  packages/client/src/components/atom/Pagination.svelte
  packages/client/src/components/atom/SelectionListItem.svelte
  packages/client/src/components/atom/form/Checkbox.svelte
  packages/client/src/components/molecule/Modal.svelte
  packages/client/src/components/molecule/SelectedLockerAlert.svelte
  packages/client/src/components/molecule/admin/department/DepartmentConfigEditor.svelte
  packages/client/src/components/molecule/admin/service/BuildingEditor.svelte
  packages/client/src/components/molecule/admin/service/BuildingSettings.svelte
  packages/client/src/components/molecule/admin/service/SectionSettings.svelte
  packages/client/src/components/molecule/admin/service/ServiceSettings.svelte
  packages/client/src/components/molecule/reserve/LockerReserveInfo.svelte
  packages/client/tailwind.config.cjs
Labels: client, design

#311 [fix] grid 레이아웃을 이용하여 `LockerList` 크기 문제 해결
  packages/client/src/components/molecule/reserve/LockerList.svelte
Labels: bug, client, design, reserve

#315 [fix] `deploy` 시 argument 가 제대로 인식되도록 수정
  scripts/deploy.js
Labels: bug, devops

#316 [fix] `DateTimeInput` 에서 부모의 value 업데이트가 반영되지 않는 문제 수정
  packages/client/src/components/atom/form/DateTimeInput.svelte
Labels: bug, client, admin

#324 사파리 등 WebKit 기반 브라우저에서 모달 크기 수정
  packages/client/src/components/molecule/Modal.svelte
Labels: bug, help wanted, client

#326 [fix] 로그인 과정에서 `Forbidden` 오류가 처리되지 않는 문제 수정
  .githooks/pre-commit
  .githooks/pre-push
  packages/client/.lintstagedrc.json
  packages/client/src/lib/api/auth.ts
  packages/client/src/routes/callback/+page.svelte
  packages/server/.lintstagedrc.json
  packages/server/api.yaml
Labels: bug, client, auth
